body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}


#vung1 {
    width: 250px;
    background-color: black;
    padding: 20px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}

#vung1 a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: green;
}

#vung1 a:hover {
    color: red;
    text-decoration: underline;
}

#vung2 {
    flex-grow: 1;
    padding: 20px;
}
 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

 {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

 {
    background-color:blue;
    color: white;
}

